<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="IP地址切换器.Properties.Settings.IPConnectionString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=D:\Documents and Settings\YUYU37\My Documents\AccessDB\IP.mdb"
            providerName="System.Data.OleDb" />
    </connectionStrings>
</configuration>